.container{
    display:flex;
    /* grid-template-rows: 25% 25% 25% 25%; */
    /* grid-template-columns: 60% 40%; */
    flex-wrap: wrap;
}
div.sticky{
    /* display:flex; */
    position: sticky;
    top: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-grow: 3;
    flex-shrink: 1;
}
.scroll{
    /* display:flex; */
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-grow: 1;
    /* flex-wrap: wrap; */
}